html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000000 /* url('/img/loading.gif') center center no-repeat*/;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}

canvas { display: block; }

.chart {
  position: absolute;
  z-index: 10;
  user-select: none;
  pointer-events: none;
}

.controller {
  height: 84px;
  z-index: 11;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.controller-inner {
  margin: auto;
  width: 40%;
}

.controller .controls {
  display: flex;
  justify-content: center;
}

.controller .progress {
  border: none;
  height: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.controller .noUi-handle {
  outline: none;
  width: 16px;
  height: 16px;
  right: -4px;
  box-shadow: none;
  border-radius: 50%;
  border-color: #ff0000;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  transition: 0.1s all;
  cursor: pointer;
}

.controller .noUi-active {
  width: 18px;
  height: 18px;
  cursor: grabbing;
}

.controller .noUi-connect {
  background-color: #ff0000;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.playback-button-wrapper {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.playback-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 16px;

  transition: 100ms all;

  border-color: transparent transparent transparent #fff;
  cursor: pointer;

  border-style: solid;
  border-width: 8px 0 8px 14px;
  outline: none;
}

.playback-button.play {
  margin-top: 9px;
  margin-left: 12px;
}

.playback-button.pause {
  margin-top: 10px;
  margin-left: 11px;
  height: 16px;
  border-style: double;
  border-width: 0px 0 0px 14px;
}

.playback-button:hover {
  border-color: transparent transparent transparent #ccc;
}
