html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000000 url('/img/loading.gif') center center no-repeat;
  color: #999999;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
}

canvas { display: block; }

.hidden {
  display: none !important;
}

.error-message {
  margin-top: 50px;
}

.chart {
  position: absolute;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  top: 0;
  left: 0;
}

.date {
  position: absolute;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  top: 0;
  width: 200px;
  left: calc(50% - 100px);
}

.country-stats {
  right: 0;
  z-index: 11;
  user-select: none;
  pointer-events: none;
  padding: 8px 20px;
  position: absolute;
  min-width: 200px;
}

.controller {
  height: 84px;
  z-index: 11;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.controller-inner {
  margin: auto;
  width: 40%;
}

.controller .controls {
  display: flex;
  justify-content: center;
}

.controller .progress {
  border: none;
  height: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.controller .noUi-handle {
  outline: none;
  width: 16px;
  height: 16px;
  right: -4px;
  box-shadow: none;
  border-radius: 50%;
  border-color: #ff0000;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  transition: 0.1s all;
  cursor: pointer;
}

.controller .noUi-active {
  width: 18px;
  height: 18px;
  cursor: grabbing;
}

.controller .noUi-connect {
  background-color: #ff0000;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.noUi-connects {
  background-color: #999;
}

.playback-button-wrapper {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
}

.playback-button {
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  fill: #fff;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.replay-button {
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  margin-right: -48px;
  font-size: 24px;
}

.replay-button svg {
  fill: #888;
}

.replay-button svg:hover {
  fill: #ff0000;
}


.replay-button.enabled svg {
  fill: #ff0000;
}
